<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jushi.muisc.chat">
    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--友盟统计-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--百度统计-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--环信-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".JSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/music_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Wellcome_Style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.home_page.banner.ui.BannerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.home_page.recommend.ui.AllRecommendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.home_page.artist.ui.AllArtistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.zhibo_video.mv.ui.AllMVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.zhibo_video.zhibo.ui.AllZhiBoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.play.play_video.PlayVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.search.ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.chart.ui.ChartDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".sliding_menu.localmusic.ui.LocalMusicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".music.play.play_music.PlayMusicService" />

        <activity
            android:name=".music.home_page.artist.ui.ArtistMusicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".music.play.play_music.PlayMusicActivity" />
        <activity android:name=".sliding_menu.near_play.NearPlayActivity" />
        <activity android:name=".sliding_menu.my_favorites.MyFavoritesActivity" />
        <activity android:name=".sliding_menu.download_manager.DownloadActivity"/>

        <!--Umeng--> <!--在application中设置appkey-->
        <!--<meta-data android:value="@string/Umen_app_key" android:name="UMENG_APPKEY"/>-->
        <!--<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>-->

        <!--baidu tong ji-->
        <!-- 设置您在百度移动统计网站上添加的APP的AppKey -->
        <!--<meta-data-->
            <!--android:name="BaiduMobAd_STAT_ID"-->
            <!--android:value="@string/baidu_tong_ji_appKey" />-->

        <!--环信配置-->
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="Your AppKey" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>