<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jushi.muisc.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/music_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Wellcome_Style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.banner.ui.BannerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.recommend.ui.AllRecommendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.artist.ui.AllArtistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.mv.ui.AllMVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.zhibo.ui.AllZhiBoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.play_video.PlayVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.search.ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.chart.ui.ChartDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.localmusic.ui.LocalMusicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".music.service.PlayMusicService" />

        <activity
            android:name=".music.artist.ui.ArtistMusicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".music.play_music.PlayMusicActivity" />
        <activity android:name=".sliding_menu.near_play.NearPlayActivity" />
        <activity android:name=".sliding_menu.my_favorites.MyFavoritesActivity" />
        <activity android:name=".sliding_menu.download_manager.DownloadActivity"></activity>
    </application>

</manifest>