<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jushi.share">

    <application>
        <activity
            android:name="com.jushi.camera.capturedialog.PictureCaptureDialog"
            android:theme="@style/PictureCaptureDialog" />

        <activity
            android:name="com.jushi.rxPermissions.ShadowActivity"
            android:theme="@style/AppTheme_bg_no"></activity>

        <!--拍照或从相册获取图片-->
        <provider
            android:name="com.jushi.camera.provider.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
